<h2>Atletas - <%= current_user.organization.name %></h2>

<% if @representante_athletes.empty? %>
  <p>Nenhum atleta cadastrado</p>
<% else %>
  <ul>
    <% @representante_athletes.each do |atl| %>
      <li><%= atl.details %> | <%= #link_to 'Deletar atleta',
       #destroy_representante_athlete, :method => :delete 
       %>
    <% end %>
  </ul>
<% end %>

<br />

<%= link_to 'Novo atleta', new_representante_athlete_path %>
