<h2>Atletas</h2>

<% if @representante_athletes.empty? %>
  <p>Nenhum atleta cadastrado</p>
<% else %>
  <ul>
    <% @representante_athletes.each do |atl| %>
      <li><%= atl.organization.name > atl.name %></li>
    <% end %>
  </ul>
<% end %>

<br />

<%= link_to 'Novo atleta', new_representante_athlete_path %>
