/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body{
	background: #3299CC;
	font-size: 12pt;
	font-family: Helvetica;
}

#tudo{
	background-image: linear-gradient(bottom, rgb(51,161,201) 100%, rgb(50,153,204) 0%);
	background-image: -o-linear-gradient(bottom, rgb(51,161,201) 100%, rgb(50,153,204) 0%);
	background-image: -moz-linear-gradient(bottom, rgb(51,161,201) 100%, rgb(50,153,204) 0%);
	background-image: -webkit-linear-gradient(bottom, rgb(51,161,201) 100%, rgb(50,153,204) 0%);
	background-image: -ms-linear-gradient(bottom, rgb(51,161,201) 100%, rgb(50,153,204) 0%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, rgb(51,161,201)),
		color-stop(0, rgb(50,153,204))
	);

}

.logado{
	background: #006699;
	text-align: left;
	height: 30px;
}

.logado p{
	font-size: 0.7em;
}

p.nav_link{
	margin: 0;
	text-align: right;
}

p.nav_link a{
	display: inline-block;
	padding: 0 15px 0 15px;
}

.detalhes, p.nav_link a{
	line-height: 30px;
	color: white;
	font-weight: bold;
	margin: 0;
}

p.nav_link a:hover{
	text-decoration: none;
	background: #4682B4;
}

header h1{
	text-align: right;
	color: white;
	text-shadow: black 0.1em 0.1em 0.2em;
	line-height: 2em;
	font-family: 'Oregano', cursive;
}

nav ul{
	margin: 0;
}

nav ul li{
	display: inline-block;
	font-size: 1.1em;
	line-height: 2em;
}

nav ul li a{
	padding: 15px 15px 15px 15px;
	color: white !important;
	font-weight: bold;
	display: block;
}

nav li a:hover{
	text-decoration: none;
	background: deepskyblue;
}

.box-shadow{
	box-shadow: 0 0 3px 3px;
}

.corpo{
	background: #E0EEEE;
	padding: 5px;
	margin-top: 10px;
}

.corpo a{
	color: black;
}

.corpo a:hover{
	background: none;
}

footer{
	color: white;
	text-align: center;
	text-shadow: black 0.1em 0.1em 0.2em;
}
