<p>Olá, <%= @resource.email %>!</p>

<p>Alguém solicitou uma mudança de senha para este usuário.</p>

<p><%= link_to 'Mude minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não solicitou nenhuma troca de senha, ignore este email.</p>
<p>Sua senha continuará a mesma, a menos que você acesse esse link e mude-a.</p>
